    <!-- PopAds.net Popunder Code for www.notesdiyo.in -->
<head>
<script type="text/javascript" data-cfasync="false">
/*<![CDATA[/* */
  var _pop = _pop || [];
  _pop.push(['siteId', 2975428]);
  _pop.push(['minBid', 0]);
  _pop.push(['popundersPerIP', 0]);
  _pop.push(['delayBetween', 0]);
  _pop.push(['default', false]);
  _pop.push(['defaultPerDay', 0]);
  _pop.push(['topmostLayer', false]);
  (function() {
    var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
    var s = document.getElementsByTagName('script')[0]; 
    pa.src = '//c1.popads.net/pop.js';
    pa.onerror = function() {
      var sa = document.createElement('script'); sa.type = 'text/javascript'; sa.async = true;
      sa.src = '//c2.popads.net/pop.js';
      s.parentNode.insertBefore(sa, s);
    };
    s.parentNode.insertBefore(pa, s);
  })();
/*]]>/* */
</script>
</head>
<div style="height:1000%">
    
<div>
    <br>
    <br>
    <br>
    <div class="container">
    <span id="dis">Hello! {{user.firstName}}</span>

    </h4>
    {{#if discuss}}
    <h2 id="dis">Your discussions</h2>
    </div>
    <br>
    <div class="container">
<table class="striped">
    <thead>
<tr>
    <th>Title</th>
    <th>Date</th>
    <th>Subject</th>
</tr>
    </thead>
    <tbody>
        
        {{#each discuss}}
        <tr>
            <td><a href="/discuss/show/{{id}}">{{title}}</a></td>
            <td>{{formatDate date 'MMMM Do YYYY'}}</td>
             <td><span class="dash-status">{{subject}}</span></td>    
            <td><a class = "btn left-align" href="/discuss/edit/{{id}}"><i class = "fa fa-pencil"></i> Edit</a>
            <form action="/discuss/delete/{{id}}?_method=DELETE" method = "post" id="delete-form">
            <input type="hidden" name = "_method" value="DELETE">
            <button type = "submit" class="btn red"><i class = "fa fa-remove"></i>Delete</button>
            </form>
            </td>
     </tr>
     {{/each}}
     
    </tbody>
</table>
</div>
{{!-- <br><br> --}}
{{!-- <div class="row">
 
    <div class="col s12 m3">
      <div class="card">
        <div class="center-align">
           <h4>{{title}}</h4>
        </div>
        <div class="card-content center-align">
          <h5>{{formatDate date 'MMMM Do YYYY'}}</h5>
          <h4>{{subject}}</h4>
          <br>
        </div>
        <div >
          <a  style=" margin-left:5%;"class="btn orange" href="/discuss/show/{{id}}">Open</a>
           <a class="btn grey" href="/discuss/edit/{{id}}">Edit</a>
            <form action="/discuss/delete/{{id}}?_method=DELETE" method="post" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn red">
                            <i class="fa fa-remove"></i> Delete</button>
                    </form></div>
      </div>
    </div> --}}

    
        
           
   
    {{else}}
    <h4 style="margin-left: 15%">You do not have any open thread.</h4>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h4 style="margin-left: 15%">Create one by clicking on the plus sign in the bottom right corner.</h4>
    
    {{/if}}
<br>
</div>


</div>