<br>
<span class="w3-jumbo w3-hide-small" style="margin-left: 300px">Hello! {{user.firstName}}</span>

</h4>
{{#if discuss}}
<h4 style="margin-left: 300px">Your discussions
<table  style="margin-left: 0px"  >
    <thead>
<tr>
    <th>Title</th>
    <th>Date</th>
    <th>Subject</th>
</tr>
    </thead>
    <tbody>
        {{#each discuss}}
        <tr>
            <td><a href="/discuss/show/{{id}}">{{title}}</a></td>
            <td>{{formatDate date 'MMMM Do YYYY'}}</td>
             <td><span class="dash-status">{{subject}}</span></td>    
            <td><a class = "btn left-align" href="/discuss/edit/{{id}}"><i class = "fa fa-pencil"></i> Edit</a>
            <form action="/discuss/delete/{{id}}?_method=DELETE" method = "post" id="delete-form">
            <input type="hidden" name = "_method" value="DELETE">
            <button type = "submit" class="btn red"><i class = "fa fa-remove"></i>Delete</button>
            </form>
            </td>
     </tr>
     {{/each}}
    </tbody>
</table>
{{else}}
<h4 style="margin-left: 300px">You do not have any open thread.</h4><br><br><br><br><br>
<br><h4 style="margin-left: 300px">Create one by clickong on the plus sign in the bottom right corner.</h4>
{{/if}}