<h1>Discussions</h1>
<div class="row">
  {{#each discuss}}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <a href="/discuss/edit/{{id}}" class="btn-floating halfway-fab red">
            <i class="fa fa-pencil"></i>
          </a>
        </div>
        <div class="card-content center-align">
          <h5>{{title}}</h5>
          <p class="story-text">{{stripTags (truncate body 150)}}</p>
          <br>
          <div class="chip">
            <img src="{{user.image}}">
            {{user.firstName}} {{user.lastName}}
          </div>
        </div>
        <div class="card-action center-align">
          <a class="btn grey" href="/discuss/show/{{id}}">Read More</a>
        </div>
      </div>
    </div>
  {{else}}
    <p>No Discussion found</p>
  {{/each}}
</div>